:root {
    --black: #292733;
    --white: #ffffff; 
    --red: #C20502;
    --text: 'Poppins';
    --head: 'Roboto Slab';
}
html,body{
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
h1,h2,h3,h4,h5,h6,
p{
    margin: 0px;
    padding: 0px;
}
.row-1440{
    width: 1440px;
}
.row-fw{
    width: 100%;
}
.text--center{
    text-align: center;
}
.text--left{
    text-align: left;
}
.text--right{
    text-align: right;
}
a{
    text-decoration: none;
}
.header__nav{
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 0px;
}
header{
    min-height: 114px;
    background-color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__container-row{
    display: flex;
}
.header__container .header__container-col {
    display: flex;
    justify-content: center;
}
.container--col-1,
.container--col-3{
    width: 15%;
}
.container--col-2{
    width: 70%;
}
nav {
    display: flex;
    align-items: center;
}
.nav--link li{
    margin: 0px 16px;
}
.nav--icon li{
    margin: 0px 8px;
}
.nav--link li a{
    color: var(--white);
    font-size: 16px;
    font-family: var(--text);
    font-weight: 500;
}
.main__banner{
    margin: 0px auto;
    width: 1440px;
    height: 741px;
    background-image: url('img/Rectangle-2.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-right: 128px;
    display: flex;
    justify-content: flex-end;
}
.main__banner-row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.banner-row{
    display: flex;
}
.banner-row h2{
    font-family: var(--head);
    color: var(--black);
    font-style: normal;
    font-weight: 700;
    font-size: 49px;
    line-height: 105.5%;
    margin-bottom: 17px;
}
.banner-row p{
    font-family: var(--text);
    width: 516px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--black);
}
.redbar{
    margin-top: 195px;
    height: 5px;
    width: 158px;
    display: flex;
}
.redbar-col1{
    height: 100%;
    width: 30%;
    background-color: var(--red);
}
.redbar-col2{
    height: 100%;
    width: 70%;
    background-color: var(--red);
    opacity: 50%;
}
.info-col{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.info__banner{
    display: flex;
    height: 303px;
    background-color: var(--red);
    padding: 50px 20px;
    justify-content: center;;
}
.info-col h3{
    margin-top: 15px;
    font-family: var(--head);
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 118.5%;
    text-align: center;
    color: var(--white);
    width: 90%;
}
.main__banner-row{
    width: 898px;
}
.section-3{
    height: 501px;
}
.section-3-row{
    display: flex;
    height: 100%;
}
.section-3-col{
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-3-col1{
    width: 45%;
    background-image: url('img/Rectangle 9.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.section-3-col1 img{
    width: 340px;
    height: 299px;
}
.section-3-col2{
    width: 55%;
    background-image: url('img/Rectangle 10.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.section-3-col2-innercol{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-3-col2-innercol h3{
    font-family: var(--head);
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;    
    text-align: center;    
    color: var(--white);
}
.section-3-col2-innercol button{
    padding: 20px 40px;
    background-color: var(--red);
    border: unset;
    font-family: var(--text);
    color: var(--white);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-top: 11px;
}
.section-4{
    display: flex;
    justify-content: center;
    height: 591px;
}
.section-4-row{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('img/Rectangle 83.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.section-4-col{
    width: 892px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-4-col h2{
    font-family: var(--head);
    font-style: normal;
    font-weight: 700;
    font-size: 49px;
    line-height: 105.5%;    
    color: var(--white);
}
.section-4-col p{
    margin-top: 20px;
    font-family: var(--text);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--white);
    
}
.section-4-col button{
    margin-top: 20px;
    padding: 20px 40px;
    font-family: var(--text);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--red);
    border: unset;
}
.section-5{
    height: 501px;
    display: flex;
    justify-content: center;
}
.section-5-row{
    display: flex;
}
.section-5-col1{
    background-color: black;
    width: 55%;
    display: flex;
    justify-content: center;
    position: relative;
}
.sec-5-innercol1{
    width: 60%;
}
.sec-5-innercol2{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.sec-5-innercol2 h2{
    font-family: var(--head);
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    color: var(--white);
}
.sec-5-innercol2 button{
    font-family: var(--text);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--red);
    padding: 20px 40px;
    border: unset;
}
.section-5-col2{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F1F3F4;
}
.section-5-col2 h2{
    width: 377px;
    font-family: var(--head);
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 31px;
    color: var(--black);

}
.section-5-col2 h4{
    font-family: var(--text);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--black);
    
}
footer{
    height: 200px;
}
.section-6{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 146px;
}
.section-6-row1{
    margin-top: 166px;
    display: flex;
    justify-content: center;
}
.section-6-row1 h2{
    font-family: var(--head);
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 59px;
    color: var(--text);
}
.section-6-row2{
    margin: auto;
    max-width: 1440px;
}
.section-6-innerrow{
    display: flex;
    justify-content: center;

}
.section-6-col{
    width: 280px;
    padding: 20px;
}
.product_img{
    padding: 10px;
    background-color: #F5F5F5;
    margin-bottom: 16px;
}
.product_img img{
    width: 100%;
}
.product_content{
    padding-right: 30px;
}
.content__location{
    font-family: var(--head);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #888888;
}
.product__title{
    font-family: var(--head);
    margin-top: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #292733;
}
.product__price{
    font-family: var(--text);
    margin-top: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: var(--red);
}
.section-7{
    height: 590px;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
.section-7-row{
    height: 100%;
    width: 1180px;
}
.sec-7-col1{
    width: 45%;
    background-image: url('img/Rectangle 84.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.sec-7-col2{
    width: 55%;
    background-color: var(--red);
    display: flex;
    justify-content: center;
    align-items: center;
}
.sec-7-col2 h2{
    font-family: var(--head);
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: var(--white);
}
.sec-7-col2 button{
    font-family: var(--text);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--red);
    padding: 20px 40px;
    border: unset;
    margin-top: 60px;
}
.btn__shop{
    font-family: var(--text);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--red);
    padding: 20px 40px;
    border: unset;
}
.section-8{
    height: 471px;
}
.sec-8-row{
    height: 100%;
}
.sec-8-col{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #292733;
    padding-left: 125px;
}
.sec-8-innercol{
    width: 60%;
}
.sec-8-col h3{
    font-family: 'Rajdhani';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    color: var(--white);
}
.sec-8-col h2{
    font-family: var(--head);
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    color: var(--white);
    margin-top: 5px;
    margin-bottom: 24px;
}
.sec-8-col1{
    background-image: url('img/Rectangle 17.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.sec-8-col2{
    background-image: url('img/Rectangle 18.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.section--center-row{
    display: flex;
    justify-content: center;
}
.section-9{
    height: 638px;
}
.sec-9-row{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('img/Rectangle 2.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.sec-9-col{
    width: 70%;
}
.sec-9-col h4{
    font-family: var(--text);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: var(--white);
}
.sec-9-col h2{
    font-family: var(--head);
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 105.5%;
    color: var(--white);
    margin: 17px 0px;
}
.sec-9-col p{
    font-family: var(--text);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: var(--white);
}



